 

<%= content_tag_for(:tr, comment) do %>
  <td id="#{'edit_comment_link'+comment.id.to_s}">	<%= comment.body %>		</td>
  <td id="#{'edit_comment_link'+comment.id.to_s}">	<%= comment.created_on_day %> </td>  
  <td id="#{'edit_comment_link'+comment.id.to_s}">	<%= comment.workflow_state %></td>
  <td id="#{'edit_comment_link'+comment.id.to_s}">	 <%= link_to event_for(comment)[:label],  [@project, comment],  :format => :js, :remote => true, :method=> :put %> </td>
<% end %>
 
