 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  

  <div class="modal-body">
    **here comes whatever you want to show!**
  </div>
  
   <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
  
  
<input type="button" id="tstModal"/>
<div class="modal">
<!--Some modal content here -->
</div>

<script type="text/javascript">
$(document).ready(function() {
$("#tstModal").click(function() {
     $(".modal").modal("show");
});
});
</script>