<%= form_for([@project, @project.comments.new], remote: true) do |f| %>  

<div class="field">    
    	<%= f.label 'Comment' %><br />
	<%= f.text_field :body, size: 200 %>  
</div>

<div class="actions">    
	<%= f.submit 'Create Comment' %>  
</div> 

<% end %>