
</br>
</br>
<%= link_to 'New Project', new_project_path, :class =>"btn btn-default" %>

</br>
</br>

<table class="table">
<thead>Available Projects</thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Description</th>
<th>State</th>
<th>Actions</th>
</tr>

	<% @projects.each do |project| %>
		<tr>
			<td>
				<%= project.id%>
			</td>
			<td>
				<%= link_to project.name, project_path(project) %>
			</td>
			<td>
				<%=  truncate(replace_empty_with(project.description, '-')   , length: 25, omission: '... (continued)' )  %>
			</td>
			<td>
				<%= project_details(project)%>
			</td>
			<td>
				<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	<% end %>

</table>


