

</br>
</br>
<h2> New Project </h2>

<%= form_for(@project) do |f| %>

<p>
<%= f.label :name %>
<%= f.text_field :name, size: 200 %>
</p>

<p>
<%= f.label :description %>
<%= f.text_field :description, size: 200 %>
</p>


<%= f.submit 'Create a Project', :class=> "btn btn-default" %>

<% end %>