
</br>

<h2> Project:  <%=  @project.name %>
<h3 class="project_description">  Description:  <%= replace_empty_with(@project.description, '-') %> </h3>
<h3 class="project_status">  Status:  <span class="<%= label_for( project_details(@project) )  %>" >  <%= project_details(@project) %></span> </h3>


<div class="panel panel-default" id="comments">  
		<table class="table" id="opencomments">
			<caption>Open Comments</caption> 
			<%= render '/comments/header_comment_table' %>
			<%= render @opencomments %> 
		</table>	
</div>

<%= link_to "New Comment", new_project_comment_path(@project, :format => :js), :remote => true, :id => 'new_comment_link', :class => "btn btn-default" %> 

</br>
</br>

<div  class="panel panel-default" id="closed_comments">  
		<table class="table" id="closedcomments">
			<caption>Closed Comments</caption> 
			<%= render '/comments/header_comment_table' %>
			<%= render @closedcomments %> 		
		</table>
</div>
