<!DOCTYPE html>
<html>
<head>
  <title>Commenter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Commenter</h1>

<%= link_to 'Projects', projects_path %>

<div>
<% if !flash.empty? %>
<div id="flash"> 
    <% flash.keys.each do |k| %> 
        <div class="<%= map_to_bootstrap_class(k) %>">
            <%= flash[k] %>
        </div>  
    <% end %>   
</div>
   <% end %>   
</div>

<%= yield %>

</body>
</html>
